<div id="comicImages" class="spread1">
    <div class="horizontal-button-container horizontal-button-container-top"><div id="topButton" class="tap-target tap-target-horizontal" >Toggle Top Bar</div></div>
    <div class="horizontal-button-container horizontal-button-container-bottom">
        <div id="fitBothButton" class="tap-target tap-target-horizontal tap-target-blue" >Fit Both</div>
        <div id="fitVerticalButton" class="tap-target tap-target-horizontal " >Fit Vertical</div>
        <div id="fitHorizontalButton" class="tap-target tap-target-horizontal tap-target-blue" >Fit Horizontal</div>
        <div id="toggleControlsButton" class="tap-target tap-target-horizontal" >Toggle Controls</div>
    </div>
    <div id="leftButton" class="tap-target tap-target-vertical" >Left Button</div>
    <div id="rightButton" class="tap-target tap-target-vertical" >Right Button</div>
</div>