<div id="touch-controls no-pointer" class="">
    <div class="horizontal-button-container horizontal-button-container-top no-pointer">
        <div id="topButton" class="tap-target tap-target-horizontal" >Toggle Top Bar</div>
        <div class = 'horizontal-button-container-sub no-pointer'>
            <div id="rotateCWButton" class="tap-target tap-target-horizontal-third tap-target-blue no-pointer" >Rotate Clockwise</div>
            <div id="toggleDoublePage" class="tap-target tap-target-horizontal-third no-pointer" >Toggle Double Page</div>
            <div id="rotateCCWButton" class="tap-target tap-target-horizontal-third tap-target-blue no-pointer" >Rotate Counter Clockwise</div>
        </div>
    </div>

    <div class="horizontal-button-container horizontal-button-container-bottom no-pointer">
        <div class = 'horizontal-button-container-sub no-pointer'>
            <div id="fitVerticalButton" class="tap-target tap-target-horizontal-third tap-target-blue no-pointer" >Fit Vertical</div>
            <div id="fitBothButton" class="tap-target tap-target-horizontal-third  no-pointer" >Fit Both</div>
            <div id="fitHorizontalButton" class="tap-target tap-target-horizontal-third tap-target-blue no-pointer" >Fit Horizontal</div>
        </div>
        <div id="toggleControlsButton" class="tap-target tap-target-horizontal no-pointer" >Toggle Controls</div>
    </div>
    <div id="leftButton" class="tap-target tap-target-vertical no-pointer" ><div class="vertical-center no-pointer">Prev Page</div></div>
    <div id="rightButton" class="tap-target tap-target-vertical no-pointer" ><div class="vertical-center no-pointer">Next Page</div></div>
</div>
