@(json: String, name: String)


@main("Web Slinger Comic Reader", name){

    <script src="@routes.Assets.at("javascripts/jquery.hotkeys.js")"></script>
    <script src="@routes.Assets.at("backbone.marionette/underscore.js")"></script>
    <script src="@routes.Assets.at("backbone.marionette/backbone.js")"></script>
    <script src="@routes.Assets.at("backbone.marionette/backbone.marionette.js")"></script>


    <script type"text/javascript">@appscripts.app()</script>
    <script src="@routes.Assets.at("appscripts/Models/ComicModel.js")"></script>
    <script src="@routes.Assets.at("appscripts/Models/LibraryModel.js")"></script>
    <script src="@routes.Assets.at("appscripts/Models/FileModel.js")"></script>
    <script src="@routes.Assets.at("appscripts/Models/PageModel.js")"></script>
    <script src="@routes.Assets.at("appscripts/Models/PageCollection.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/ComicView.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/LibraryView.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/AddView.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/SideBarView.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/PageView.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/ReaderView.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/UserView.js")"></script>
    <script src="@routes.Assets.at("appscripts/Views/UsersView.js")"></script>

    <script type="text/template" id="ComicTemplate">@Templates.ComicBookTemplate()</script>
    <script type="text/template" id="LibraryTemplate">@Templates.LibraryTemplate()</script>
    <script type="text/template" id="SideBarTemplate">@Templates.SideBarTemplate()</script>
    <script type="text/template" id="AddTemplate">@Templates.AddTemplate()</script>
    <script type="text/template" id="ReaderTemplate">@Templates.ReaderTemplate()</script>
    <script type="text/template" id="PageTemplate">@Templates.PageTemplate()</script>
    <script type="text/template" id="UsersTemplate">@Templates.UsersTemplate()</script>
    <script type="text/template" id="UserTemplate">@Templates.UserTemplate()</script>

    <script type="text/javascript">
		var libraryJson = @Html(json);
        $(document).ready(function(){
            var library = new LibraryModel(libraryJson.books);
            app.start({library: library});
        });
    </script>

}{
    <div class="container" id="introText">
        <div class="row">
            <div class="span10">
                <h1>JavaScript &amp; HTML5 Comic Reader</h1>
                <div id="alertArea"></div>
                <p>Started as a
                    <a href="http://www.raymondcamden.com/index.cfm/2012/5/29/Building-an-HTML5-Comic-Book-Reader#c2DCDC6B6-924D-59C5-1E7A546B79CAC44F">weekend project</a>
                    by
                    <a href="http://www.raymondcamden.com/">Raymond Camden</a>, and later developed by <a href="http://rkuykendall.com/">Robert Kuykendall</a>
                    on <a href="https://github.com/rkuykendall/HTML5ComicBookReader">GitHub</a>.
                    Continued by Matt Goldfarb.
                <p>
            </div>
        </div>
    </div>
}
