@(form: Form[UserManager.NewUser])



    @main("Web Slinger Comic Reader", null, null ){

    }{
        @helper.form(routes.UserManager.addUser()) {
            <h1>Create New User</h1>
            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }
            @if(flash.contains("success")) {
                <p class="success">
                @flash.get("success")
                </p>
            }


            <p>
                <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
                <input type="text" name="name" placeholder="name" value="@form("name").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Create</button>
            </p>
        }
    }
