@(title: String, name: String)(header: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.mobile.custom.js")" type="text/javascript"></script>

	    <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">
	    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
	    <script src="@routes.Assets.at("javascripts/main.js")"></script>
	    
	    
	    
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,300' rel='stylesheet' type='text/css'>
    
       
        
        @header
        
        <style>

    	</style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
	<body onload="initMain()">
		
		<div id="main" class="show-action-bar show-top-bar">
	
			<div class="top-bar navbar navbar-inverse navbar-static-top hidden-xs">
				<div class="navbar-inner">
					<div class="">
					    <ul class = "nav navbar-nav">
							<li><a class="navbar-brand" href="/">Web Slinger Comic Reader</a></li>
							<li><a class="navbar-brand" href="#library">Library</a></li>
							<li><a class="navbar-brand" href="#addModal" data-toggle="modal">Add</a></li>
                            <li><a class="navbar-brand" href="#users">Users</a></li>
							<li style="display: none;"><a href="javascript:none;" title="Left arrow or k" id="prevPanel"><span class="glyphicon glyphicon-chevron-right"></span> Previous</a></li>
							<li style="display: none;"><a href="javascript:none;" title="Right arrow or j" id="nextPanel"><i class="glyphicon glyphicon-chevron-right"></i> Next</a></li>
							<li style="display: none;"><a href="javascript:none;" title="v key" id="fitVertical"><i class="fitVerticalButton glyphicon glyphicon-resize-vertical"></i> Fit Vertical</a></a></li>
							<li style="display: none;"><a href="javascript:none;" title="h key" id="fitHorizontal"><i class="fitHorizontalButton glyphicon glyphicon-resize-horizontal"></i> Fit Horizontal</a></a></li>
							<li style="display: none;"><a href="javascript:none;" title="b key" id="fitBoth"><i class="fitBothButton glyphicon glyphicon-move"></i> Fit Both</a></a></li>
							<li style="display: none;"><a href="javascript:none;" title="f key" id="fullSpread"><i class="glyphicon glyphicon-pause"></i> Full Spread View</a></a></li>
							<li style="display: none;"><a href="javascript:none;" title="s key" id="singlePage"><i class="glyphicon glyphicon-stop"></i> Single Page View</a></a></li>
						</ul>
                        <ul class = "nav navbar-nav navbar-right">
                            <li><span class = "navbar-brand navbar-right">@name</span></li>
                            <li><a class="navbar-brand navbar-right" href="/logout">Logout</a></li>
                        </ul>
					</div>
				</div>
			</div>

			<div class="top-bar navbar navbar-inverse navbar-static-top visible-xs-block">
				<div class="navbar-inner">
					<div class="">
					    <ul class = "nav navbar-nav">
                            <li class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-expanded="fales" href="#">
                                    Web Slinger Comic Reader <span class=""caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="" href="/">home</a></li>
                                    <li><a class="" href="#library">Library</a></li>
                                    <li><a class="" href="#addModal" data-toggle="modal">Add</a></li>
                                    <li><a class="navbar-brand" href="#users">Users</a></li>
                                    <li><a class="" href="/logout">Logout</a></li>
                                </ul>
                            </li>                            <li class="pull-left" style="display: none;"><a href="javascript:none;" title="v key" id="fitVerticalxs"><i class="fitVerticalButton glyphicon glyphicon-resize-vertical"></i></a></a></li>
                            <li class="pull-left" style="display: none;"><a href="javascript:none;" title="h key" id="fitHorizontalxs"><i class="fitHorizontalButton glyphicon glyphicon-resize-horizontal"></i></a></a></li>
                            <li class="pull-left" style="display: none;"><a href="javascript:none;" title="b key" id="fitBothxs"><i class="fitBothButton glyphicon glyphicon-move"></i></a></a></li>
						</ul>
					</div>
				</div>
			</div>
	
			<div class="scroll-container" >
                <div class="container-fluid" id ="main-container">
					    @content
                </div>
				
			</div>

			<div id="modal-container">
                <div id = "addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                </div>
			</div>
		
		</div>
	
	

	</body>
</html>
