@(message: String)

@main("Web Slinger Comic Reader"){

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <script src="@routes.Assets.at("javascripts/jquery.hotkeys.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/zip.js")"></script>
    <script src="@routes.Assets.at("javascripts/deflate.js")"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
    


} {




      <div class="container" id="introText">
        <div class="row">
          <div class="span10">
            <h1>JavaScript &amp; HTML5 Comic Reader</h1>
            <p class="lead">Simply drag and drop a CBZ file onto the page to start reading.</p>
            <div id="alertArea"></div>
            <p>Started as a <a href="http://www.raymondcamden.com/index.cfm/2012/5/29/Building-an-HTML5-Comic-Book-Reader#c2DCDC6B6-924D-59C5-1E7A546B79CAC44F">weekend project</a> by  <a href="http://www.raymondcamden.com/">Raymond Camden</a>, and later developed by <a href="http://rkuykendall.com/">Robert Kuykendall</a> on <a href="https://github.com/rkuykendall/HTML5ComicBookReader">GitHub</a>.<p>
          </div>
        </div>
      </div>

      
      
  
      <div class="modal hide" id="statusModal">
        <div class="modal-header">
          <h3>Uploading your comic.</h3>
        </div>
        <div class="modal-body">
          <p id="statusModalText"></p>
        </div>
      </div>
  
      <div id="comicImages">
      </div>

}
